// Main colors from IGC
$color-white: #FFFFFF;
$color-white-1: #fbfdff;
$color-black: #000000;
$color-grey: #ebebeb;
$color-grey-1: #8f8f8f;
$color-blue: #000098;
$color-blue-2: #191937;
$color-blue-3: #25BBED;
$color-blue-light: #cff4e8;
$color-grey-2: #F0F4F7;


