.beinex-button{
    background-color: $color-black;
    padding: $spacer-2 $spacer-3;
    color: $color-white;
    display: inline-flex;
    overflow: hidden;
    font-weight: $font-semi-bold;
    text-transform: uppercase;
    border: 1px solid $color-black;
    min-width: 150px;
    justify-content: center;
    transition: 0.3s all;
    &:hover{
        background-color: $color-white;
        color: $color-black;
    }
    &--white{
        background-color: $color-white;
        color: $color-black;
        &:hover{
            background-color: $color-black;
            color: $color-white;
        }
    }
}

.beinex-button-blue{
    padding: $spacer-2 $spacer-3;
    &__text{
        color: $color-blue;
        font-weight: $font-semi-bold;
        position: relative;
        white-space: nowrap;
        &::before,
        &::after{
            position: absolute;
            top: 50%;
            left: 0px;
        }
        &::after{
            content: attr(btn-text);
            max-width: 19px;
            color: $color-blue;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            transition: max-width 0.3s;
        }
        &::before{
            content: "";
            min-width: 35px;
            height: 35px;
            background-color: $color-blue-light;
            border-radius: 0px;
            transform: translate(-16px,-50%);
            transition: min-width 0.3s;
        }
        &:hover{
            &::before{
                min-width: calc(100% + 30px);
            }
            &::after{
                max-width: 100%;
            }
        }
    }
    &--center{
        text-align: center;
        margin-top: $spacer-4;
    }
}

.beinex-button-submit{
    background-color: #879bad;
    padding: $spacer-2 $spacer-3;
    color: $color-white;
    font-size: 16px;
    display: inline-flex;
    overflow: hidden;
    font-weight: $font-semi-bold;
    border: 1px solid #879bad;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    svg{
        width: 16px;
        height: 16px;
        margin-left: $spacer-2;
        transition: 0.3s all;
    }
    &:hover{
        background-color: rgba(135, 155, 173,.5);
        border: 1px solid rgba(135, 155, 173,.5);
        color: $color-white;
        svg{
            transform: scale(1.05);
        }
    }
    
}