.sticky-soomth {
    padding-top: 132px;
    // transition: all .3s;
}
.overflow {
    overflow: hidden;
}

.beinex-header{
    padding: $spacer-4 $spacer-0;
    width: 100%;
    background-color: $color-white-1;
    &__logo{
        width: 150px;
        height: auto;
        transition: all .3s
    }
    .container-fluid{
        padding: $spacer-0;
    }
    .navbar-brand{
        padding: $spacer-0;
        margin: $spacer-0;
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: end;
    }
    .navbar-collapse{
        .navbar-nav{
            margin: auto;
        }
    }
    &__nav-link{
        color: $color-black;
        font-size: 14px;
        font-weight: $font-medium;
        
    }
    &__nav-item{
        padding: $spacer-2 0;
        margin: $spacer-0 $spacer-2;
        &:last-child{
            margin-right: $spacer-0;
        }
        transition: all .3s;
        position: relative;
        cursor: pointer;
        &.active{
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: $color-blue-3;
                transition: all 0.3s;
                opacity: 1;
                cursor: pointer;
            }
        } 
        &:hover{
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: $color-blue-3;
                transition: all 0.3s;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    &.sticky {
        position: fixed;
        padding: 0;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: $color-white;
        animation: slide-down .3s linear forwards;
        &:after {
            content: none;
        }
        .navbar-toggler {
            margin-top: $spacer-3;
        }
        .hm-header__navbar {
            padding: 12px 0px;
        }
        .beinex-header__logo{
            width: 120px;
        }
    }
    .sticky {
        transform: translateY(-200px);
        transition: all .3s;
    }
    .navbar-toggler {
        padding: $spacer-0;
        &:focus {
            box-shadow: none;
        }
    }
    &__fade {
        display: none;
    }
    &__close {
        display: none;
    }
    &__btn-hide{
        display: none;
    }
    &__btn-show{
        display: inline-flex;
    }
}
@include mobile-tablet {
    .beinex-header{
        &__nav-item{
            margin-right: 0;
        }
        &__fade {
            display: block;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            transition: all .3s;
        }
        
        &__navbar{
            padding: $spacer-2 $spacer-0;
            .navbar-collapse {
                .navbar-nav {
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: $color-grey-2;
                    width: 50%;
                    min-width: 280px;
                    padding: $spacer-3;
                    height: 100vh;
                    margin-left: 0;
                    transform: translateX(-270px);
                    transition: all .3s;
                    opacity: 0;
                }
                .beinex-header__close {
                    display: block;
                    position: absolute;
                    top: 0;
                    // left: 95%;
                    right: 16px;
                    margin-top: $spacer-3;
                    // transform: translateX(-350px);
                    opacity: 1;
                    transition: all .5s;
                    z-index: 99;
                }
                &.show {
                    .navbar-nav {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                    .hm-header__close {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
            }
        }
        &__btn-hide{
            display: inline-flex;
            margin: 16px 0;
        }
        &__btn-show{
            display: none;
        }
    }
}
@include mobile {
    .beinex-header{
        padding: $spacer-3 $spacer-0;
    }
}
@keyframes slide-down {
    0% {
        opacity: .5;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}